.centered img {
  width: 100px;
  
  /* This odd combination of properties will center your image, but ONLY if it's inside the div. */
  display: block;
  margin: auto;
}

/* This centers text that is inside a div. Note that the way of centering text is different from images. */
div h3 {
  text-align: center;
}

/* You can use .table (with the dot) to apply CSS to things with class="table". Same with .cell to things with class="cell". */
.table {
  display: table;
}

.table .cell {
  display: table-cell;
}

.table .cell-text {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  width: 100%;
}
